extends layout

block content
  h1= title

  form(action="/operation", method="POST")
    table
      tr  
        td
          input(type="text", name="strOperation", placeholder="Escriba la operacion a ejecutar")
      tr  
        td  
           button.btn.btn-primary Calular